<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wlxy.example.dao.ShoppingCarDao">


    <!-- 动态条件查询 -->
    <select id="getAllShoppingCar" parameterType="ShoppingCar" resultType="ShoppingCar">
        SELECT * FROM shoppingcar
        <where>
            <if test=" id !=null and id !='' ">
                and id=#{id}
            </if>
            <if test=" userId !=null and userId !='' ">
                and userId=#{userId}
            </if>
            <if test=" productId !=null and productId !='' ">
                and productId=#{productId}
            </if>
            <if test=" productNum !=null and productNum !='' ">
                and productNum=#{productNum}
            </if>
            <if test=" productName !=null and productName !='' ">
                and productName=#{productName}
            </if>

            <if test=" normalPrice !=null and normalPrice !='' ">
                and normalPrice=#{normalPrice}
            </if>

            <if test=" discount !=null and discount !='' ">
                and discount=#{discount}
            </if>
            <if test=" isInDiscount !=null and isInDiscount !='' ">
                and isInDiscount=#{isInDiscount}
            </if>

            <if test=" typeId !=null and typeId !='' ">
                and typeId=#{typeId}
            </if>
            <if test=" createTime !=null and createTime !='' ">
                and createTime=#{createTime}
            </if>

            <if test=" isInKill !=null and isInKill !='' ">
                and isInKill=#{isInKill}
            </if>
            <if test=" killDiscount !=null and killDiscount !='' ">
                and killDiscount=#{killDiscount}
            </if>

            <if test=" productImg !=null and productImg !='' ">
                and productImg=#{productImg}
            </if>
            <if test=" viewNum !=null and viewNum !='' ">
                and viewNum=#{viewNum}
            </if>

            <if test=" deserveNum !=null and deserveNum !='' ">
                and deserveNum=#{deserveNum}
            </if>
            <if test=" describe !=null and describe !='' ">
                and describe=#{describe}
            </if>

            <if test=" orderCount !=null and orderCount !='' ">
                and orderCount=#{orderCount}
            </if>
            <if test=" deliveryPrice !=null and deliveryPrice !='' ">
                and deliveryPrice=#{deliveryPrice}
            </if>

            <if test=" deliveryPlace !=null and deliveryPlace !='' ">
                and deliveryPlace=#{deliveryPlace}
            </if>

        </where>

    </select>

    <update parameterType="ShoppingCar" id="updateShoppingById">
        update shoppingcar set

        <trim suffixOverrides=",">
            <if test=" productName !=null and productName !='' ">
                productName=#{productName},
            </if>
            <if test=" userId !=null and userId !='' ">
               userId=#{userId},
            </if>
            <if test=" productId !=null and productId !='' ">
               productId=#{productId},
            </if>
            <if test=" productNum !=null and productNum !='' ">
              productNum=#{productNum},
            </if>

            <if test=" normalPrice !=null and normalPrice !='' ">
                normalPrice=#{normalPrice},
            </if>

            <if test=" discount !=null and discount !='' ">
                discount=#{discount},
            </if>

            <if test=" isInDiscount !=null and isInDiscount !='' ">
                isInDiscount=#{isInDiscount},
            </if>

            <if test=" typeId !=null and typeId !='' ">
                typeId=#{typeId},
            </if>
            <if test=" createTime !=null and createTime !='' ">
                createTime=#{createTime},
            </if>
            <if test=" isInKill !=null and isInKill !='' ">
                isInKill=#{isInKill},
            </if>
            <if test=" killDiscount !=null and killDiscount !='' ">
                killDiscount=#{killDiscount},
            </if>
            <if test=" productImg !=null and productImg !='' ">
                productImg=#{productImg},
            </if>
            <if test=" viewNum !=null and viewNum !='' ">
                viewNum=#{viewNum},
            </if>
            <if test=" deserveNum !=null and deserveNum !='' ">
                deserveNum=#{deserveNum},
            </if>
            <if test=" describe !=null and describe !='' ">
                describe=#{describe},
            </if>
            <if test=" orderCount !=null and orderCount !='' ">
                orderCount=#{orderCount},
            </if>
            <if test=" deliveryPrice !=null and deliveryPrice !='' ">
                deliveryPrice=#{deliveryPrice},
            </if>
            <if test=" deliveryPlace !=null and deliveryPlace !='' ">
                deliveryPlace=#{deliveryPlace},
            </if>

        </trim>
        where id=#{id}

    </update>

    <insert parameterType="ShoppingCar" id="addShoppingCar">
        insert into shoppingcar
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test=" userId !=null and userId !='' ">
                userId,
            </if>
            <if test=" productId !=null and productId !='' ">
                productId,
            </if>
            <if test=" productNum !=null and productNum !='' ">
                productNum,
            </if>
            <if test=" productName !=null and productName !='' ">
                 productName,
            </if>

            <if test=" normalPrice !=null and normalPrice !='' ">
                 normalPrice,
            </if>

            <if test=" discount !=null and discount !='' ">
               discount,
            </if>
            <if test=" isInDiscount !=null and isInDiscount !='' ">
                isInDiscount,
            </if>

            <if test=" typeId !=null and typeId !='' ">
                 typeId,
            </if>
            <if test=" createTime !=null and createTime !='' ">
                 createTime,
            </if>

            <if test=" isInKill !=null and isInKill !='' ">
                isInKill,
            </if>
            <if test=" killDiscount !=null and killDiscount !='' ">
               killDiscount,
            </if>

            <if test=" productImg !=null and productImg !='' ">
                 productImg,
            </if>
            <if test=" viewNum !=null and viewNum !='' ">
                viewNum,
            </if>

            <if test=" deserveNum !=null and deserveNum !='' ">
                deserveNum,
            </if>
            <if test=" describes !=null and describes !='' ">
                 describes,
            </if>

            <if test=" orderCount !=null and orderCount !='' ">
                 orderCount,
            </if>
            <if test=" deliveryPrice !=null and deliveryPrice !='' ">
                 deliveryPrice,
            </if>

            <if test=" deliveryPlace !=null and deliveryPlace !='' ">
                 deliveryPlace,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">

            <if test=" userId !=null and userId !='' ">
                #{userId},
            </if>
            <if test=" productId !=null and productId !='' ">
                #{productId},
            </if>
            <if test=" productNum !=null and productNum !='' ">
                #{productNum},
            </if>
            <if test=" productName !=null and productName !='' ">
                #{productName},
            </if>

            <if test=" normalPrice !=null and normalPrice !='' ">
               #{normalPrice},
            </if>

            <if test=" discount !=null and discount !='' ">
                #{discount},
            </if>
            <if test=" isInDiscount !=null and isInDiscount !='' ">
                #{isInDiscount},
            </if>

            <if test=" typeId !=null and typeId !='' ">
                #{typeId},
            </if>
            <if test=" createTime !=null and createTime !='' ">
                #{createTime},
            </if>

            <if test=" isInKill !=null and isInKill !='' ">
                #{isInKill},
            </if>
            <if test=" killDiscount !=null and killDiscount !='' ">
               #{killDiscount},
            </if>

            <if test=" productImg !=null and productImg !='' ">
               #{productImg},
            </if>
            <if test=" viewNum !=null and viewNum !='' ">
              #{viewNum},
            </if>

            <if test=" deserveNum !=null and deserveNum !='' ">
               #{deserveNum},
            </if>
            <if test=" describes !=null and describes !='' ">
                #{describes},
            </if>

            <if test=" orderCount !=null and orderCount !='' ">
                #{orderCount},
            </if>
            <if test=" deliveryPrice !=null and deliveryPrice !='' ">
                #{deliveryPrice},
            </if>

            <if test=" deliveryPlace !=null and deliveryPlace !='' ">
                #{deliveryPlace}
            </if>
        </trim>

        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>


<!--    <update parameterType="User" id="updateUser">-->
<!--        update user set-->

<!--        <trim suffixOverrides=",">-->
<!--            <if test=" id !=null and id !='' ">-->
<!--                id=#{id},-->
<!--            </if>-->

<!--            <if test=" userName !=null and userName !='' ">-->
<!--                userName=#{userName},-->
<!--            </if>-->

<!--            <if test=" password !=null and password !='' ">-->
<!--                password=#{password},-->
<!--            </if>-->

<!--            <if test=" roleId !=null and roleId !='' ">-->
<!--                roleId=#{roleId},-->
<!--            </if>-->

<!--            <if test=" email !=null and email !='' ">-->
<!--                email=#{email},-->
<!--            </if>-->
<!--            <if test=" isActive !=null and isActive !='' ">-->
<!--                isActive=#{isActive},-->
<!--            </if>-->
<!--            <if test=" deliveryAddress !=null and deliveryAddress !='' ">-->
<!--                deliveryAddress=#{deliveryAddress},-->
<!--            </if>-->
<!--            <if test=" headPic !=null and headPic !='' ">-->
<!--                headPic=#{headPic}-->
<!--            </if>-->


<!--        </trim>-->
<!--        where id=#{id}-->

<!--    </update>-->

<!--    <delete id="removeUser" parameterType="int">-->

<!--        delete from user where id=#{id}-->

<!--    </delete>-->

<!--    <select id="getProductType" parameterType="String" resultType="ProductType">-->

<!--        select * from producttype where productTypeName=#{productTypeName}-->

<!--    </select>-->



    <!--    <select id="queryById" resultType="BookInfo">-->
    <!--        select * from book_info where bookId=#{xxx};-->
    <!--    </select>-->

    <!--    <insert id="addBook">-->
    <!--        insert into book_info values(null ,#{bookCode},#{bookName},#{bookType.id},#{bookAuthor},#{publishPress},#{publishDate},#{isBorrow})-->
    <!--    </insert>-->

    <!--    <delete id="deleteById">-->
    <!--        delete from book_info where bookId=#{xxx}-->
    <!--    </delete>-->

    <!--    <update id="updateById">-->
    <!--        UPDATE `book_info` SET bookCode=#{bookCode},bookName=#{bookName},bookType=#{bookType.id},bookAuthor=#{bookAuthor},publishPress=#{publishPress},publishDate=#{publishDate},isBorrow=#{isBorrow} WHERE `bookId`=#{bookId}-->
    <!--    </update>-->
</mapper>
